:root {
  --font-reg: COMIC SANS MS;
  --color-font: #2c2a2a;
}

* {
  margin: 0;
  padding: 0;
}

.registration {
  background-image: url('./image/pink-black.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 660px;
  background: #fff;
  border-radius: 20px;
  margin: 50px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

form span {
  font-family: var(--font-reg);
  font-size: 40px;
  color: var(--color-font);
  line-height: 1.2;
  margin: 50px 0 20px 0;
}

.btn-social {
  display: flex;
  width: 80%;
}

button {
  font-family: var(--font-reg);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 20px) / 2);
  height: 70px;
  border-radius: 10px;
  margin: 10px;
  border-width: 1px 2px 2px 2px;
  border-color: #cecece;
  outline: none;
  background-color: #ffffff;
  color: var(--color-font);
}

button:hover {
  font-family: var(--font-reg);
  font-size: 20px;
  color: var(--color-font);
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 20px) / 2);
  height: 70px;
  border-radius: 10px;
  margin: 10px;
  border-width: 1px 2px 2px 2px;
  border-color: #696868;
  background-color: #f378ed;
  transition: 0.5s;
}

button:not(:hover) {
  transition: 0.5s;
}

.facebook {
  background-color: #3b5998;
  color: #ffffff;
}

img {
  margin: 0 10px;
}

.username {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 10px;
}

input {
  font-family: var(--font-reg);
  outline: none;
  color: var(--color-font);
  font-size: 18px;
  background-color: #f0f0f0;
  width: 80%;
  height: 60px;
  padding: 0 10px;
  border-radius: 10px;
  border-width: 1px;
}

input:hover {
  border-color: #bb5694;
  border-width: 1px;
}

p {
  font-family: var(--font-reg);
  font-size: 20px;
  color: var(--color-font);
  margin: 10px 40px;
  display: flex;
  align-self: flex-start;
}

a {
  padding: 5px 5px;
  color: #5c5b5b;
  font-size: 15px;
}

a:hover {
  color: #bb5694;
}

.remember {
  display: flex;
  align-self: flex-start;
  margin: 0 20px;
  width: 80%;
}

.remember p {
  font-family: var(--font-reg);
  font-size: 15px;
  color: var(--color-font);
  width: 100px;
  margin: auto 10px;
  display: flex;
  align-self: flex-start;
}

.remember input {
  width: 5%;
  margin: 0 0 0 50px;
}

.btn-sign {
  width: 77%;
  margin: 10px 0 0 0;
  background-color: #4b4b4b;
  color: #ffffff;
}

.btn-sign:hover {
  width: 77%;
  border-color: #696868;
  background-color: #f378ed;
  margin: 10px 0 0 0;
  transition: 0.5s;
}

.sign-up {
  margin: 50px 0 10px 0;
}

.sign-up p {
  font-weight: 100;
  color: #747474;
}

footer {
  width: 680px;
  margin: 40px 0 10px 0;
  margin-top: auto;
}

footer ul {
  display: flex;
  flex-direction: row;
}

ul li {
  list-style-type: none;
  margin: 0 15px;
}

li a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

li a:hover {
  color: #fbc7f0;
  font-size: 20px;
  text-decoration: none;
}